db.sqlite3
configs/config.json
files/
judges_data/
.idea/
pyenv/
venv/
*.pyc
*.pyo
algocode/__pycache__/
courses/__pychache__/
courses/judges/__pycache__/
courses/management/__pycache__/
courses/managment/commands/__pycache__/
.DS_STORE
