<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ course.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'course_style.css' %}">
</head>

<body>
{% autoescape off %}
<div class="main">
    <header>
        <h1>{{ course.title }}</h1>
        <h2>{{ course.subtitle }}</h2>
    </header>

    <div class="sidebar">
        {% if links %}
            <h3>Полезные ссылки</h3>
            {% for link in links %}
                {% if link.file %}
                    <a href="{{ link.file.url }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
                {% elif link.link %}
                    <a href="{{ link.link }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
                {% else %}
                    {{ link.text }}<br>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if teachers %}
            <h3>Преподаватели</h3>
            {% for teacher in teachers %}
                {% if teacher.teacher.photo %}
                    <img class="photo" src="{{ teacher.teacher.photo.url }}" alt="{{ teacher.teacher.name }}"><br>
                {% endif %}
                <b>{{ teacher.teacher.name }}</b>
                {% if teacher.note %}
                    <br><i>{{ teacher.note }}</i>
                {% endif %}
                {% if teacher.teacher.telegram_id %}
                    <br>Telegram: <a href="tg://resolve?domain={{ teacher.teacher.telegram_id }}">@{{ teacher.teacher.telegram_id }}</a>
                {% endif %}
                {% if teacher.teacher.vk_id %}
                    <br><a href="https://vk.com/{{ teacher.teacher.vk_id }}">ВКонтакте</a>
                {% endif %}
                <br><br>
            {% endfor %}
        {% endif %}
    </div>

    <div class="lessons">
        <h3 style="padding-left: 0.5em;">{{ course.contests_text }}</h3>
        {% for contest in contests %}
            <div class="lesson" id="lesson_{{ contest.contest.id }}">
                <div class="lesson_date">
                    {{ contest.contest.date }}
                </div>
                <div class="lesson_topic">
                    {{ contest.contest.title }}
                </div>

                {% if contest.contest.contest_type == contest.contest.OLYMP %}
                    <style>
                        #lesson_{{ contest.contest.id }} {
                            border-left-color: #DA823B;
                        }
                    </style>
                {% endif %}

                <div class="clear"></div>
                {% for link in contest.links %}
                    <div class="contest_link">
                        {% if link.file %}
                            <a href="{{ link.file.url }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a>
                        {% else %}
                            <a href="{{ link.link }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="clear"></div>

                {% if contest.contest.contest_id or contest.contest.other_link %}
                    <div class="contest_name">
                    Контест
                    </div>
                    <div class="contest_link">
                        {% if contest.contest.other_link %}
                            <a href="{{ contest.contest.other_link }}">Вход</a>
                        {% elif contest.contest.judge == 'EJ' or contest.contest.judge == 'EC' %}
                            <a href="{{ ejudge_url }}{{ contest.contest.contest_id }}">Вход</a>
                        {% elif contest.contest.judge == 'CF' %}
                            <a href="{{ course.codeforces_url }}/group/{{ contest.contest.external_group_id }}/contest/{{ contest.contest.contest_id }}">Вход</a>
                        {% elif contest.contest.judge == 'IN' %}
                            <a href="https://informatics.mccme.ru/mod/statements/view.php?id={{ contest.contest.contest_id }}">Вход</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="contest_link">
                    {% if contest.contest.show_statements and contest.contest.statements %}
                        <a href="{{ contest.contest.statements.url }}">Условия</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endautoescape %}
</body>
</html>

