<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ course.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'course_style.css' %}">
</head>

<body>
{% autoescape off %}
<div class="main">
    <header>
        <h1>{{ course.title }}</h1>
        <h2>{{ course.subtitle }}</h2>
    </header>

    <div class="sidebar">
        <h3>Полезные ссылки</h3>
        {% autoescape off %}
        {% for link in links %}
            {% if link.file %}
                <a href="{{ link.file.url }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
            {% else %}
                <a href="{{ link.link }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
            {% endif %}
        {% endfor %}

        <h3>Преподаватели</h3>
        {% for teacher in teachers %}
            {% if teacher.photo %}
                <img class="photo" src="{{ teacher.photo.url }}" alt="{{ teacher.name }}"><br>
            {% endif %}
            <b>{{ teacher.name }}</b>
            {% if teacher.telegram_id %}
                <br>Telegram: @{{ teacher.telegram_id }}
            {% endif %}
            {% if teacher.vk_id %}
                <br><a href="vk.com/{{ teacher.vk_id }}">ВКонтакте</a>
            {% endif %}
            <br><br>
        {% endfor %}
        {% endautoescape %}
    </div>

    <div class="lessons">
        <h3 style="padding-left: 0.5em;">Занятия</h3>
        {% for contest in contests %}
            <div class="lesson" id="lesson_{{ contest.contest.id }}">
                <div class="lesson_date">
                    {{ contest.contest.date }}
                </div>
                <div class="lesson_topic">
                    {{ contest.contest.title }}
                </div>

                {% if contest.contest.is_olymp %}
                    <style>
                        #lesson_{{ contest.contest.id }} {
                            border-left-color: #DA823B;
                        }
                    </style>
                {% endif %}

                <div class="clear"></div>
                {% for link in contest.links %}
                    <div class="contest_link">
                        {% if link.file %}
                            <a href="{{ link.file.url }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a>
                        {% else %}
                            <a href="{{ link.link }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="clear"></div>

                <div class="contest_name">
                Контест
                </div>
                <div class="contest_link">
                    {% if contest.contest.other_link %}
                        <a href="{{ contest.contest.other_link }}">Вход</a>
                    {% elif contest.contest.judge == 'EJ' %}
                        <a href="{{ ejudge_url }}{{ contest.contest.contest_id }}">Вход</a>
                    {% elif contest.contest.judge == 'CF' %}
                        <a href="https://codeforces.com/group/{{ contest.contest.external_group_id }}/contest/{{ contest.contest.contest_id }}">Вход</a>
                    {% elif contest.contest.judge == 'IN' %}
                        <a href="https://informatics.mccme.ru/mod/statements/view.php?id={{ contest.contest.contest_id }}">Вход</a>
                    {% endif %}
                </div>
                <div class="contest_link">
                    {% if contest.contest.show_statements_link %}
                        <a href="{{ contest.contest.statements.url }}">Условия</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endautoescape %}
</body>
</html>

