<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ main.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'course_style.css' %}">
</head>

<body>
{% autoescape off %}

<div class="main">
    <header>
        <h1>{{ main.title }}</h1>
        <h2>{{ main.subtitle }}</h2>
    </header>

    {% if links %}
    <div class="sidebar">
        <h3>Полезная информация</h3>
        {% for link in links %}
            {% if link.file %}
                <a href="{{ link.file.url }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
            {% elif link.link %}
                <a href="{{ link.link }}" {% if link.new_tab %}target="_blank"{% endif %}>{{ link.text }}</a><br>
            {% else %}
                {{ link.text }} <br>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="courses">
        <h3>{{ main.courses_text }}</h3>
        {% for course in courses %}
            <a href="{% if course.url or not course.course %}{{ course.url }}{% else %}{% url 'course' course_label=course.course.label %}{% endif %}">
                <div class="course">
                    {{ course.text }}
                </div>
            </a>
        {% endfor %}
    </div>

</div>
{% endautoescape %}
</body>
</html>

