<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <meta http-equiv="content-language" content="ru-ru">
    <link rel="stylesheet" href="{% static 'pole_chudes.css' %}">
    <title>Поле чудес</title>
</head>
<body>

<h1 class="header">
    Команда: {{ team.name }}
</h1>

<h3>
    {{ team.players }}
</h3>

<p>Общий балл: {{ team.score }}</p>
<p>Слов угадано: {{ team.word_id }}</p>
<p>Неудачных попыток: {{ team.unsuccess }}</p>
<p>Задач сданно: {{ team.problems }}</p>
{% if team.coins > 0 %}
<p>Коинов потрачено: {{ team.coins }}</p>
{% endif %}

<h2><a href="{% url 'pole_chudes' game_id=team.game.id %}">Таблица результатов</a></h2>

<h3>
    Таблица
</h3>
<table class="standings">
<tr>
    <td class="name stitle">Буква алфавита</td>
    {% for i in team.game.alphabet %}
    <td class="problem stitle" title="Буква {{ i }}">{{ i }}</td>
    {% endfor %}
</tr>
<tr>
    <td class="name stitle">Задача в контесте</td>
    {% for i in prob_letters %}
        <td class="problem stitle" title="Задача {{ i }}">{{ i }}</td>
    {% endfor %}
</tr>
{% for row in standings %}
<tr>
    <td class="name">{{ row.name }}</td>
    {% for submit in row.problems %}
        {% if submit.verdict == "OK" %}
            <td class="ok">{{ submit.show }}</td>
        {% elif submit.verdict == None %}
            <td class="ns"></td>
        {% else %}
            <td class="bad">{{ submit.show }}</td>
        {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</table>

<h1>
    Слова
</h1>

{% for word in words %}
<h3>Слово {{ word.id }} <span class="word_title">({% if word.guessed %}угадано{% else %}не угадано{% endif %})</span></h3>
<div style="margin-left: 20px">
    <p>
        Подсказка: {{ word.hint }}
    </p>
    <table class="word">
        <tr>
        {% for letter in word.word %}
            {% if letter.state == "not guessed" %}
                <td class="not_guessed">-</td>
            {% elif letter.state == "shown" %}
                <td class="shown">{{ letter.letter }}</td>
            {% else %}
                <td class="guessed">{{ letter.letter }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    <p>Буквы</p>
    <table>
    <tr>
        {% for letter in word.alphabet %}
            {% if letter.state == "yes" %}
                <td class="letter_yes">{{ letter.letter }}</td>
            {% elif letter.state == "no" %}
                <td class="letter_no">{{ letter.letter }}</td>
            {% else %}
                <td class="letter_unknown">{{ letter.letter }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    </table>

    {% if word.unsuccess %}
    <h4 class="unsuccess">
        Неудачные попытки:
    </h4>
    {% for guess in word.unsuccess %}
        <p class="unsuccess">{{ guess }}</p>
    {% endfor %}
    {% endif %}

    {% if not word.guessed %}
        <h3>Попробовать угадать слово:</h3>
        <form action="{% url 'pole_chudes_team_guess' team_id=team.id %}" method="post">
            {% csrf_token %}
            <input type="text" id="word" name="word" placeholder="Введите слово">
            <input type="submit" value="Угадать">
        </form>
    {% endif %}
</div>

{% endfor %}

</body>
</html>