<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{ standings.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'standings.css' %}">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script>
        let standings_id = {{ standings.id }};
        let contest_id = {{ contest_id }};
        let is_olymp = {% if standings.olymp %}true{% else %}false{% endif %};
        let enable_marks = {% if standings.enable_marks %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'standings.js' %}"></script>
    <script>
        {{ standings.js_for_contest_mark }}
        {{ standings.js_for_total_mark }}
        {{ standings.js }}
    </script>
    <base href="/standings/{{ standings.id }}/" />
</head>

<body>

<div class="wrapper">
    <table id="standings"></table>
</div>

</body>
</html>
