div#table-container {
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-left: 0;
  width: calc(100vw - 12px);
  overflow-x: hidden;
}

div#table-container1 {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: scroll;
}

table.results{
  border-left:1px solid black;
  border-top:1px solid black;
  background:white;
  position: relative;
  overflow: hidden;
}

table.fixed {
  margin-left: 0;
  position: absolute;
  top: 10px;
  left: -207px;
  overflow: hidden;
  z-index: 100;
}

table.results td{
  white-space:nowrap;
  border-right:1px solid black;
  border-bottom:1px solid black;
  padding-left:3px;
  padding-right:3px;
  padding-top:2px;
  padding-bottom:2px;
}
td.contest, td.problem{
  text-align:center;
}

td.wide {
  width: 50px;
}

td.med-wide {
  width: 30px;
}

td.ac, td.wa, td.none, td.pending, td.rj {
  text-align:center;
}
td.ac{
  background:#aaffbb;
}
td.wa{
  background:#ffaaaa;
}
td.rj{
  background:#aaaaff;
}
td.dq{
  background:#000000;
}
td.solved, td.penalty, td.weight, td.styleErrs{
  text-align:right;
}
table.results td.name{
  padding-right:10px;
}
td.weight{
  font-weight: bold;
}
td.probstat{
   text-align:right;
}
td.pending{
  background:#ffff77;
}
td.score {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #2a6478;
    text-decoration: none;
}
