<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    {% if main.logo %}
        <link rel="icon" type="image/png" href="{{ main.logo.url }}" />
    {% endif %}
    <title>{{ main.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'course_style.css' %}">
</head>

<body>

<div class="main">
    <div class="title">
        <h1>{{ main.title }}</h1>
        <h2>{{ main.subtitle }}</h2>
    </div>

    <div class="sidebar">
        <h3>Полезная информация</h3>
        {% for link in links %}
            {% autoescape off %}
            {% if link.file %}
                <a href="{{ link.file.url }}">{{ link.text }}</a><br>
            {% elif link.link %}
                <a href="{{ link.link }}">{{ link.text }}</a><br>
            {% else %}
                {{ link.text }} <br>
            {% endif %}
            {% endautoescape %}
        {% endfor %}
    </div>

    <div class="courses">
        <h3>Курсы</h3>
        {% for course in courses %}
            <a href="{{ course.url }}" style="color: {{ course.color }}">
                <div class="course">
                    {{ course.name_in_main }}
                </div>
            </a>
        {% endfor %}
    </div>

</div>

</body>
</html>

